@import "~@blueprintjs/core/lib/scss/variables";

.panel-container-overlay {
  position: fixed;
  top: 35px;
  right: 0;
  bottom: 0;
  left: 0;
}

.panel-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: $white;
  border-radius: 5px;

  .panel-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    background-color: $light-gray5;
    color: $black;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid $light-gray1;
    font-size: 12px;

    .panel-container-title {
      padding-right: 5px;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }

    .panel-container-close {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      padding-left: 2px;
      width: 14px;
      height: 14px;
      cursor: pointer;
      background-color: $red5;
      border-radius: 14px;

      .panel-container-close-icon {
        display: none;
      }

      &:hover {
        .panel-container-close-icon {
          display: inline;
        }
      }
    }
  }
}
