@import "~@blueprintjs/core/lib/scss/variables";

.reading-summary {
  display: flex;
  padding: 3px;
  height: 70px;

  .reading-summary-img {
    flex-basis: 80px;
    flex-shrink: 0;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid $dark-gray5;
    border-radius: 3px;
  }

  .reading-summary-text {
    flex-grow: 1;
    overflow: hidden;

    .reading-summary-title {
      font-size: 13px;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .reading-summary-share-icon {
      margin-right: 8px;
      margin-bottom: 2px;
      color: $gray3;
      cursor: pointer;

      &:hover {
        color: $blue1;
      }
    }

    .reading-summary-url {
      margin-top: 3px;
      font-style: italic;
      font-size: 10px;
      color: $gray3;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .reading-summary-description {
      display: -webkit-box;
      margin-top: 3px;
      font-size: 12px;
      color: $light-gray1;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }
  }
}
