@import "~@blueprintjs/core/lib/scss/variables";

.reading-summary {
  display: flex;
  padding: 3px;

  .reading-summary-img {
    flex-basis: 80px;
    flex-shrink: 0;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid $dark-gray5;
    border-radius: 3px;
  }

  .reading-summary-text {
    flex-grow: 1;

    .reading-summary-title {
      display: flex;
      font-size: 13px;
      align-items: center;
      font-weight: 600;
    }

    .reading-summary-share-icon {
      margin-left: 10px;
      color: $gray3;
      cursor: pointer;

      &:hover {
        color: $blue1;
      }
    }

    .reading-summary-description {
      margin-top: 3px;
      font-size: 12px;
      color: $light-gray1;
    }
  }
}
