@import "~@blueprintjs/core/lib/scss/variables";

.#{$ns}-dark .reading-input.#{$ns}-input:focus {
  box-shadow: none;
  border-radius: none;
}

.reading-input-container {
  position: relative;

  .reading-input-add-button {
    position: absolute;
    right: 5px;
    top: 3px;
  }
}
