@import "~@blueprintjs/core/lib/scss/variables";

.readings-url-preview {
  .readings-url-preview-loading,
  .readings-url-preview-error {
    padding: 10px 0;
    text-align: center;
  }

  .readings-url-preview-error {
    color: $gray5;

    .readings-url-preview-error-message {
      margin-left: 5px;
    }
  }
}
