@import "~@blueprintjs/core/lib/scss/variables";

.note-item {
  position: relative;
  padding: 10px;
  font-size: 12px;

  &:hover {
    .note-item-archive {
      display: flex;
    }
  }

  .note-item-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .note-item-description {
    display: -webkit-box;
    margin-top: 3px;
    color: $light-gray1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;

    .note-item-date {
      margin-right: 5px;
    }
  }

  .note-item-archive {
    display: none;
  }
}
