@import "~@blueprintjs/core/lib/scss/variables";

.#{$ns}-dark .notes-input.#{$ns}-input:focus {
  box-shadow: none;
  border-radius: none;
}

.notes-input-container {
  .notes-input {
    font-family: "Menlo", monospace;
    font-size: 12px;
  }
}
