.todos-controls-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.todos-controls-container .todos-controls-checkbox {
  margin-bottom: 0;
  margin-right: 16px;
}

.todos-controls-container .todos-controls-checkbox:last-child {
  margin-right: 0;
}

.todos-controls-container .todo-controls-button {
  font-size: 12px;
}
