@import "~@blueprintjs/core/lib/scss/variables";

.todos-day-week {
  padding: 15px 0 5px 10px;
  font-weight: 600;
  font-size: 13px;
  border-bottom: 1px solid transparentize($color: $dark-gray1, $amount: 0.5);
  background-color: #323744;
}
