@import "~@blueprintjs/core/lib/scss/variables";

.todos-week-summary-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #2b303b;
  color: #c0c5ce;
  padding: 20px 20px 200px;
  overflow-y: auto;

  h4 {
    margin: 10px 0;
  }

  ul {
    padding-left: 25px;
  }

  li {
    padding: 2px 0;
  }

  a {
    word-break: break-all;
  }

  .todos-week-summary-panel-finished {
    color: $green4;
  }

  .todos-week-summary-panel-in-progress {
    color: $gold4;
  }
}
