.todos-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 40px;

  .todos-list-group-container {
    width: 100%;
  }

  .todos-list-nav-list {
    width: 100%;
  }
}
