@import "~@blueprintjs/core/lib/scss/variables";

.todos-day-week {
  padding: 20px 0 3px 10px;
  font-weight: 600;
  font-size: 13px;
  border-bottom: 1px solid $dark-gray1;
  background-color: #2b303b;
}
