.todos-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 40px;

  .todos-list-nav-list {
    width: 100%;
  }
}
