@import "~@blueprintjs/core/lib/scss/variables";

.todos-panel-banner {
  padding: 3px 0 1px;
  text-align: center;
  background-color: $green3;
  font-size: 10px;
  color: white;

  &.-readonly {
    background-color: $red3;
  }

  &.-selection {
    background-color: $blue3;
  }

  &.-input {
    background-color: $green3;
  }
}
