@import "~@blueprintjs/core/lib/scss/variables";

.bp3-dialog.todos-input-dialog {
  width: 90%;
  max-width: 350px;
  padding: 25px;
  margin-top: -180px;

  input {
    font-size: 12px;
  }

  ul {
    padding-left: 0;
    margin-top: 0;
    line-height: 20px;
    list-style-type: none;
  }

  li {
    cursor: pointer;
    border-radius: 3px;

    &:hover {
      background-color: #2b303b;
    }
  }

  .todos-input-new-group {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $dark-gray5;
  }
}
