.bp3-dialog.todo-groups-dialog {
  width: 90%;

  .bp3-dialog-header {
    min-height: initial;
    padding-left: 15px;
    padding-right: 0;

    .bp3-heading {
      font-size: 12px;
    }
  }

  .todo-groups-dialog-body {
    padding: 15px;

    input {
      font-size: 12px;
    }

    .todo-groups-dialog-heading {
      font-size: 12px;
      margin: 0 0 10px;
    }
  }
}
