@import "~@blueprintjs/core/lib/scss/variables";

.todos-list-group {
  padding: 15px 8px 5px;
  border-bottom: 1px solid #232830;
  background-color: #323744;
}

.todos-todo-item {
  position: relative;
  padding: 5px 8px 5px 0;
  cursor: pointer;

  &:hover {
    .todos-todo-remove-icon {
      display: inline;
    }
  }

  .todos-todo-item-status-indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;

    &.-finished {
      background-color: $green4;
    }

    &.-in-progress {
      background-color: $gold4;
    }

    &.-not-started {
      background-color: $red4;
    }
  }

  .todos-todo-checkbox {
    margin: 2px 0 0 10px;
  }

  .todos-todo-item-label {
    &.-finished {
      text-decoration: line-through;
    }

    a {
      word-break: break-all;
    }
  }

  .todos-todo-remove-icon {
    position: absolute;
    top: 6px;
    right: 8px;
    display: none;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}
