@import "~@blueprintjs/core/lib/scss/variables";

.todos-day-week {
  padding: 15px 0 5px 10px;
  font-weight: 600;
  font-size: 13px;
  border-bottom: 1px solid #232830;
  background-color: #323744;
}
