@import "~@blueprintjs/core/lib/scss/variables";

.todos-panel-banner {
  background-color: $green3;

  &.-readonly {
    background-color: $red3;
  }

  &.-selection {
    background-color: $blue3;
  }

  &.-input {
    background-color: $green3;
  }
}
