.todo-group-item {
  width: 100%;
  display: flex;

  .todo-group-item-name {
    display: flex;
    align-items: center;
    padding-left: 10px;
    flex-grow: 1;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.4);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .todo-group-item-button-group .first-button {
    border-radius: 0;
  }
}
