@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  padding: 0;
  background-color: #2b303b;
  color: #c0c5ce;
  font-family: "Menlo", monospace;
  font-size: 12px;
}

button,
input {
  font-family: "Menlo", monospace;
}
