@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  padding: 0;
  background-color: $dark-gray2;
}
